/node_modules
/public/build
/public/css/filament
/public/fonts/filament
/public/hot
/public/js/filament
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

**/caddy
frankenphp
frankenphp-worker.php

# macOS
.DS_Store

# SSH keys
*.pem
*.key
*.pub
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub
evensa
evensa.pub
